﻿

<div class="row">
    <div class="col-md-4">
        <h2>Chat room</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" id="txtMsg" class="form-control" placeholder="Add message here">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Send</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row">
    <table class="table table-condensed">
        <thead>
            <tr>
                <td class="col-md-2">Timestamp</td>
                <td class="col-md-2">Username</td>
                <td class="col-md-8">Message</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    function get_hostname() {
        /*var m = url.match(/^http:\/\/[^/]+/);
        return m ? m[0] : null;*/
        return document.location.origin + "/";
    }

    function get_class(type) {
        if (type == "0")
            return "active";
        if (type == "0")
            return "success";
        if (type == "0")
            return "danger";
    }

    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: get_hostname() + 'api/Posts',
            success: function (data) {
                $('table tbody tr').remove();
                var html = '';
                var classRow = '';
                for (var i = 0; i < data.length; i++)

                    html += '<tr class="' + get_class(data[i].messageType) + '"><td>' + data[i].timestamp +
                        '</td><td>' + data[i].username +
                        '</td><td>' + data[i].message + '</td></tr>';
                $('table tbody').append(html);
            }
        })



        $('button').click(function () {
            let msg = $('#txtMsg').val();
            if (msg) {
                var post = {
                    "userId": "1",
                    "username": "johnDoe",
                    "message": msg
                }

                $.ajax({
                    type: "POST",
                    url: get_hostname() + 'api/Posts',
                    data: post,
                    success: function (data) {
                        var html = '<tr class="' + get_class(data.messageType) + '"><td>' + data.timestamp +
                            '</td><td>' + data.username +
                            '</td><td>' + data.message + '</td></tr>';
                        $('table tbody').prepend(html);
                    }
                });
            }
        });


        setInterval(function () {
            console.log('calling ' + get_hostname() + 'api/Receive')
            $.ajax({
                type: "POST",
                url: get_hostname() + 'api/Receive',
                /*data: post,*/
                success: function (data) {
                    if (data) {
                        console.log(data);
                        /*var html = '<tr class="' + get_class(data.messageType) + '"><td>' + data.timestamp +
                            '</td><td>' + data.username +
                            '</td><td>' + data.message + '</td></tr>';
                        $('table tbody').prepend(html);*/
                    }
                }
            });
        }, 5000);


    });
</script>